
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <title>Add Chart From DPBoss</title>
    <meta name="Description" content="DPBOSS - SATTA MATKA | KALYAN | KALYAN MATKA NUMBER | MATKA RESULT | WWW.MATKA.COM | SATTAMATKA.COM | KALYAN MAIN MATKA TIPS | TODAY MATKA LUCKY NUMBER | SATTA NUMBER | SATTAMATKA CHART | KALYAN FAST RESULT | ONLINE MATKA SATTA RESULTS | DPBOSS | INDIAN M">
    <meta name="Keywords" content="dpboss, Satta matka, kalyan, matka result, kalyan matka, kalyan, Satta Matta Matka 143, jaipur darbar, gali jaipur, matka.com, sattamatka.com, matka tips, today satta number, matka tips, matka chart, indian matka, satta chart, madhur matka, dpboss, aaj ka satta">
    <link rel="icon" href="../../images/8fav.png" type="image/x-icon">
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<meta name="author" content="" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <link href="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<!--    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />-->
    <link href="../assets/plugins/froiden-helper/helper.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN THEME GLOBAL STYLES -->
<link href="../assets/css/components-md.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="../assets/css/plugins-md.css" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="../assets/layouts/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/layouts/css/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="../assets/css/custom.css" rel="stylesheet" type="text/css" id="style_color" />
<!-- END THEME LAYOUT STYLES --></head>
<!-- END PAGE HEAD-->
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md">
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="
            
                    index.php

                            ">
                <span class="logo-default">
                    
                        <span>CONTROL PANEL</span>

                                      
                </span>

            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                
                
                
                <ul class="nav navbar-nav pull-right">
                    <li><div id="google_translate_element"></div></li>
                    <li class="separator hide"> </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-show-on-mobile"> Admin  </span>
                            <i class="fa fa-angle-down"></i>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                             </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li><a href="../admin/page_settings.php"><i class="icon-user"></i> My Profile </a></li>
                            <li><a href="page_settings"><i class="icon-settings"></i> Setting </a></li>
                            <li class="divider"> </li>
                            <li><a href="../logout.php"><i class="icon-key"></i> Log Out </a></li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>

<script type="text/javascript">
function googleTranslateElementInit() {
	new google.translate.TranslateElement({
		layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
		includedLanguages: "en,hi,bn,ta,te,gu,or,mr"
	}, "google_translate_element");
}

</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<style>
    
    #google_translate_element
    {
        padding:16px 0;
    }
    .goog-te-gadget-simple
    {
        padding: 3px 8px;
    }
    .goog-te-banner
    {
        display:none !important;
    }
    .goog-te-banner-frame
    {
        display:none !important;
    }
    .goog-te-gadget img
    {
        display:none;
    }
body
{
    position: relative;min-height: 100%;top: 0px !important;
}
</style>

<style>
    .main_form_box {
        display: flex;
        align-items: flex-end;
        width: 100%;
        justify-content: space-around;
    }
</style>

<div class="page-container">
    
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            
                

            <li class="nav-item  ">
                <a href="/admin/dashboard" class="nav-link ">
                    <i class="fa fa-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            
            
            <li class="nav-item  ">
                <a href="/admin/games" class="nav-link ">
                    <i class="fa fa-line-chart"></i>
                    <span class="title">Market</span>
                </a>
            </li>
            
            
            <li class="nav-item  ">
                <a href="/admin/starline_name" class="nav-link ">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span class="title">Starline</span>
                </a>
            </li>
            
            <li class="nav-item  ">
                <a href="/admin/disawar_name" class="nav-link ">
                    <i class="fa fa-cubes"></i>
                    <span class="title">Disawar</span>
                </a>
            </li>
            
            <li class="nav-item  ">
                <a href="/admin/week_pati" class="nav-link ">
                    <i class="fa fa-lemon-o" aria-hidden="true"></i>
                    <span class="title">Weekly Patti</span>
                </a>
            </li>
            
            
            
            
            <li class="nav-item  ">
                <a href="/admin/guess_post" class="nav-link ">
                    <i class="fa fa-question-circle"></i>
                    <span class="title">Guessing Post</span>
                </a>
            </li>
            
            
            <li class="nav-item  ">
                <a href="/admin/notice" class="nav-link ">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <span class="title">Notice</span>
                </a>
            </li>
            
            <li class="nav-item  ">
                <a href="/admin/lucky_number" class="nav-link ">
                    <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
                    <span class="title">lucky number</span>
                </a>
            </li>
            
            <li class="nav-item  ">
                <a href="/admin/free_game_zone" class="nav-link ">
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                    <span class="title">Game Zone</span>
                </a>
            </li>
            
            <li class="nav-item  ">
                <a href="/admin/users" class="nav-link ">
                    <i class="icon-users"></i>
                    <span class="title">Users </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="/admin/admin_users" class="nav-link ">
                    <i class="fa fa-users"></i>
                    <span class="title">Admin User </span>
                </a>
            </li>
            
            
            
            <li class="nav-item  ">
                <a href="/admin/dpboss_chart" class="nav-link ">
                    <i class="fa fa-line-chart"></i>
                    <span class="title">Magic Chart</span>
                </a>
            </li>
            
            
            <li class="nav-item ">
                <a href="/admin/oldchart" class="nav-link ">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <span class="title">OLD Chart</span>
                </a>
            </li>
            
            
            <li class="nav-item  ">
                <a href="/admin/contact" class="nav-link ">
                    <i class="icon-users"></i>
                    <span class="title">Contact Requests </span>
                </a>
            </li>
            
            
            <li class="nav-item  ">
                <a href="/admin/page_settings" class="nav-link ">
                    <i class="icon-settings"></i>
                    <span class="title">Setting </span>
                </a>
            </li>

                    </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green" id="passwordEdit" style="width: 100%">
                        <div class="row">
                            <i class="fa fa-magic font-green"></i>
                            <span class="caption-subject bold uppercase">Fetch Chart From DPBoss </span>
                        </div>
                     
                    <form>
                         <div class="row">
                         <div class="col-sm-6">
                                <div class="row main_form_box">
                           
                    <div class="form-group form-md-line-input form-md-floating-label" style="width: 70%;">

                        <input type="text" id="url"  name="url" class="form-control input-sm" data-required="true">
                        <label for="Result" class="control-label">DPBoss Panel Chart URL</label>
                        <span class="form-control-focus"> </span>
                    </div>
                    
<div class="form-group form-md-line-input form-md-floating-label">
                                    <button type="button" class="btn green btn-outline"  id="go">Review</button>
                                    </div>
                        </div>
                             
                         </div>
                         
                         <div class="col-sm-6">
                                <div class="row main_form_box">
                            <div class="form-group form-md-line-input form-md-floating-label" style="width: 70%;">
                               <select class="form-control" id="exampleFormControlSelect1" name="market" data-required="true">
                                     <option value="">Select Market</option>
                                                                           <option value="220">TIME BAZAR</option>
                                                                            <option value="221">MILAN DAY</option>
                                                                            <option value="224">RAJDHANI DAY</option>
                                                                            <option value="225">KALYAN</option>
                                                                            <option value="226">MILAN NIGHT</option>
                                                                            <option value="227">RAJDHANI NIGHT</option>
                                                                            <option value="228">MAIN BAZAR</option>
                                                                            <option value="247">KALYAN MORNING</option>
                                                                            <option value="248">MADHURI</option>
                                                                            <option value="249">KUBER MORNING</option>
                                                                            <option value="250">PADMAVATI</option>
                                                                            <option value="252">KARNATKA DAY</option>
                                                                            <option value="253">TARA MUMBAI DAY</option>
                                                                            <option value="254">SUPER BAZAR</option>
                                                                            <option value="255">SUPER DAY</option>
                                                                            <option value="256">TIME BAZAR DAY</option>
                                                                            <option value="257">KALYAN CHALENG</option>
                                                                            <option value="258">MAIN BAZAR DAY</option>
                                                                            <option value="259">MAMA BHANJA</option>
                                                                            <option value="261">MADHURI NIGHT</option>
                                                                            <option value="262">NIGHT TIME BAZAR</option>
                                                                            <option value="263">TARA MUMBAI NIGHT</option>
                                                                            <option value="264">MAIN RATAN</option>
                                                                            <option value="265">PUNA BAZAR</option>
                                                                            <option value="266">MUMBAI MORNING</option>
                                                                            <option value="267">DHANSHREE</option>
                                                                            <option value="268">ROYAL MEENAKSHI</option>
                                                                            <option value="269">KALYAN NIGHT</option>
                                                                            <option value="270">SHUBHANK</option>
                                                                            <option value="271">CHENNAI MORNING</option>
                                                                            <option value="272">CHENNAI DAY</option>
                                                                            <option value="273">CHENNAI NIGHT</option>
                                                                            <option value="278">OLD MAIN MUMBAI</option>
                                                                            <option value="279">RAJLAXMI</option>
                                                                            <option value="280">MADHUR MORNING</option>
                                                                            <option value="281">MADHUR DAY</option>
                                                                            <option value="282">MADHUR NIGHT</option>
                                                                            <option value="283">MAIN BOMBAY</option>
                                                                            <option value="284">RR DAY</option>
                                                                            <option value="285">GUJRAT</option>
                                                                            <option value="286">BALAJI</option>
                                                                            <option value="287">BALAJI NIGHT</option>
                                                                            <option value="288">COUNTRY BAZAR</option>
                                                                            <option value="289">RATAN KHATRI</option>
                                                                            <option value="290">SUPREME DAY</option>
                                                                            <option value="291">SUPREME NIGHT</option>
                                                                            <option value="292">GUJRAT NIGHT</option>
                                                                            <option value="293">NEW STAR DAY</option>
                                                                            <option value="294">JAY SHREE DAY</option>
                                                                            <option value="295">MILAN BAZAR</option>
                                                                            <option value="362">D-DAY</option>
                                                                            <option value="363">KISMAT</option>
                                                                            <option value="364">SANGAM DAY</option>
                                                                            <option value="368">bfbfbfbfb</option>
                                                                          </select>
                                
                                
                                <span class="form-control-focus"></span>
                                
                            </div>
<div class="form-group form-md-line-input form-md-floating-label">
                                    <button type="submit" class="btn green btn-outline" name="submit" >Submit</button>
                                    </div>
                        </div>
                             
                         </div>
                     </div>
                    </form>
                    
                    </div>
                   
                </div>
                <div class="portlet-body">
                        <div style="height: 700px; overflow-y: scroll;" class="table-responsive">	    
   <table class="table table-bordered" id="mytable">
  <thead>
    <tr>
        <th scope="col">Date</th>
      <th scope="col">Open Pana</th>
      <th scope="col">Jodi</th>
      
      <th scope="col">Close Pana</th>
      
    </tr>
  </thead>
  <tbody id="tbody">
   
   
     
  </tbody>
</table>
</div>
     
      <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#content-container -->
    </div>

<!--Add model end-->
<!--End modal -->

<div class="page-footer">
    <div class="page-footer-inner"> All copyright reserved
      
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>

<!-- BEGIN CORE PLUGINS -->
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="../assets/global/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->

<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="../assets/layouts/js/layout.min.js" type="text/javascript"></script>
<script src="../assets/layouts/js/demo.min.js" type="text/javascript"></script>
<script src="../assets/layouts/js/quick-sidebar.min.js" type="text/javascript"></script>
<script src="../assets/layouts/js/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS --><script src="../assets/plugins/flot/mobile_menu.js"></script>
<script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<!--<script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>-->
<script src="../assets/plugins/froiden-helper/helper.js" type="text/javascript"></script>

<script>
// show declare result
    $('#go').click(function(){
        var url = $('#url').val();
        
        if((url)){
            $.ajax({    //create an ajax request to 
                type: "POST",
                url: "ajax/chart-fetch-dpboss-ajax.php",             
                data:{url:url},   //expect html to be returned                
                success: function(data){
                    console.log(data);
                    $('#tbody').html(data);
                }
            });
        }
        
});

</script>

</body>
</html>