<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <title>Website Content</title>
    <meta name="Description" content="DPBOSS - SATTA MATKA | KALYAN | KALYAN MATKA NUMBER | MATKA RESULT | WWW.MATKA.COM | SATTAMATKA.COM | KALYAN MAIN MATKA TIPS | TODAY MATKA LUCKY NUMBER | SATTA NUMBER | SATTAMATKA CHART | KALYAN FAST RESULT | ONLINE MATKA SATTA RESULTS | DPBOSS | INDIAN M">
    <meta name="Keywords" content="dpboss, Satta matka, kalyan, matka result, kalyan matka, kalyan, Satta Matta Matka 143, jaipur darbar, gali jaipur, matka.com, sattamatka.com, matka tips, today satta number, matka tips, matka chart, indian matka, satta chart, madhur matka, dpboss, aaj ka satta">
    <link rel="icon" href="../../images/8fav.png" type="image/x-icon">
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<meta name="author" content="" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <link href="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<!--    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />-->
    <link href="../assets/plugins/froiden-helper/helper.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN THEME GLOBAL STYLES -->
<link href="../assets/css/components-md.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="../assets/css/plugins-md.css" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="../assets/layouts/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/layouts/css/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="../assets/css/custom.css" rel="stylesheet" type="text/css" id="style_color" />
<!-- END THEME LAYOUT STYLES --></head>
<!-- END PAGE HEAD-->
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md">

<!--MOBILE MENU-->

<!--<div class="mobile_menu">-->
<!--<button class="toggle-slide-right"><i class="fa fa-bars"></i></button>-->
<!--<div class="menu slide-menu-right">-->
<!--<div>-->
<!--	<div class="profile_menu">-->
<!--	<button class="close-menu"><i class="fa fa-times"></i></button>-->
<!--		<div class="profile_image">-->
<!--	    <img src="../images/avatar/a3.jpg" alt=""/> -->
<!--		</div>-->
<!--		<h2>SURAJIT KUNDU</h2>-->
<!--		<p>YOUTUBE</p>-->
<!--	</div>-->
<!--</div>-->

<!--<div>-->
<!--	<div class="menu_main">-->
<!--		<div class="menu_box"><a href="guess_display.php"><i class="fa fa-question-circle"></i><h2>Guessing No</h2></a></div>-->
<!--		<div class="menu_box"><a href="content.php"><i class="fa fa-file-text-o"></i><h2>Content</h2></a></div>-->
<!--		<div class="menu_box"><a href="admin_users.php"><i class="fa fa-users"></i><h2>Admin User</h2></a></div>-->
<!--		<div class="menu_box"><a href="show_role.php"><i class="fa fa-eye"></i><h2>Admin Role</h2></a></div>-->
<!--		<div class="menu_box"><a href="adSense_manage.php"><i class="fa fa-adn"></i><h2>AdSense</h2></a></div>-->
<!--		<div class="menu_box"><a href="seo_manage.php"><i class="fa fa-search"></i><h2>SEO</h2></a></div>-->
<!--		<div class="menu_box"><a href="page_settings.php"><i class="icon-settings"></i><h2>Settings</h2></a></div>-->
<!--	</div>	-->
<!--</div>-->
<!--</div>-->
<!--<div class="fixed_mobile_menu">-->
<!--	<div class="bottom_menu"><a href="dashboard.php"><i class="fa fa-home"></i><h3>Home</h3></a></div>-->
<!--	<div class="bottom_menu"><a href="games.php"><i class="fa fa-gamepad"></i><h3>Market</h3></a></div>-->
<!--	<div class="bottom_menu"><a href="back_resul.php"><i class="fa fa-trophy"></i><h3>Result</h3></a></div>-->
<!--	<div class="bottom_menu"><a href="../logout.php"><i class="fa fa-lock"></i><h3>Logout</h3></a></div>-->
<!--</div>-->
<!--</div>-->





<!--<style>-->
<!--.fixed_mobile_menu-->
<!--	{-->
<!--		width: 100%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--		background: #363636;-->
<!--		padding: 5px;-->
<!--		position: fixed;-->
<!--		bottom: 0;-->
<!--		left: 0;-->
<!--		z-index: 9;-->
<!--	}-->
<!--.bottom_menu-->
<!--	{-->
<!--		width: 24%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--	}-->
<!--.bottom_menu a i-->
<!--	{-->
<!--		width: 100%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--		font-size: 22px;-->
<!--		color: #fff;-->
<!--		margin-top: 10px;-->
<!--	}-->
<!--.bottom_menu a h3-->
<!--	{-->
<!--		font-size: 14px;-->
<!--		color: #fff;-->
<!--		margin: 10px 0 0 0; -->
<!--		text-transform: uppercase;-->
<!--	}-->
<!--.profile_menu-->
<!--	{-->
<!--		width: 100%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--		padding: 30px 0 0 0;-->
<!--		margin-bottom: 40px;-->
<!--	}-->
<!--.profile_menu h2-->
<!--	{-->
<!--		font-size: 18px;-->
<!--		font-weight: bold;-->
<!--		color: #000;-->
<!--		margin: 10px 0 0 0;-->
<!--	}-->
<!--.profile_menu p-->
<!--	{-->
<!--		font-size: 14px;-->
<!--		color: #23BCC2;-->
<!--		margin: 0;-->
<!--	}-->
<!--.profile_image-->
<!--	{-->
<!--		width: 70px;-->
<!--		height: 70px;-->
<!--		border-radius: 500px;-->
<!--		background: #fff;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--		overflow: hidden;-->
<!--	}-->
<!--.profile_image img-->
<!--	{-->
<!--		width: 100%;-->
<!--		max-width: 100%;-->
<!--	}-->
<!--.menu_main-->
<!--	{-->
<!--		width: 100%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--	}-->
<!--.menu_box-->
<!--	{-->
<!--		width: 46%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--		border: solid 1px #2F353B;-->
<!--		padding-bottom: 10px;-->
<!--		margin-bottom: 26px;-->
<!--	}-->
<!--.menu_box i-->
<!--	{-->
<!--		width: 60px;-->
<!--		height: 60px;-->
<!--		background: #23BCC2;-->
<!--		font-size: 24px;-->
<!--		color: #fff;-->
<!--		border-radius: 500px;-->
<!--		padding: 18px 5px;-->
<!--		margin-top: -30px;-->
<!--		border: solid 5px #fff;-->
<!--	}-->
<!--.menu_box h2-->
<!--	{-->
<!--		font-size: 16px;-->
<!--		font-weight: bold;-->
<!--		margin: 10px 0 0 0;-->
<!--		color: #2F353B;-->
<!--		text-transform: uppercase;-->
<!--	}-->
<!--.mobile_menu-->
<!--	{-->
<!--		display: none;-->
<!--	}-->
<!--.mask {-->
<!--    display: none;-->
<!--    position: fixed;-->
<!--    top: 0;-->
<!--    left: 0;-->
<!--    z-index: 100;-->
<!--    width: 100%;-->
<!--    height: 100%;-->
<!--    background: rgba(0, 0, 0, 0.8);-->
<!--}-->

<!--.menu {-->
<!--    position: fixed;-->
<!--    z-index: 1000;-->
<!--    background-color: #fff;-->
<!--    overflow: hidden;-->
<!--    -webkit-transition: all 0.3s;-->
<!--    -moz-transition: all 0.3s;-->
<!--    -ms-transition: all 0.3s;-->
<!--    -o-transition: all 0.3s;-->
<!--    transition: all 0.3s;-->
<!--}-->

<!--.slide-menu-right {-->
<!--    left: -300px;-->
<!--    top: 0;-->
<!--    width: 300px;-->
<!--    height: 100%;-->
<!--}-->

<!--.toggle-slide-right {-->
<!--    color: #fff;-->
<!--    background: none;-->
<!--    border: none;-->
<!--    border-radius: 5px;-->
<!--    display: block;-->
<!--    position: fixed;-->
<!--    top: 10px;-->
<!--    right: 10px;-->
<!--    z-index: 9999;-->
<!--	font-size: 28px;-->
<!--}-->

<!--button.close-menu{-->
<!--    color: #000;-->
<!--    background: none;-->
<!--    border: none;-->
<!--    display: block;-->
<!--    font-size: 30px;-->
<!--    float: right;-->
<!--    padding: 10px 17px;-->
<!--	position: absolute;-->
<!--    right: 0;-->
<!--	top: 0;-->
<!--}-->

<!--body.smr-open .slide-menu-right {-->
<!--    left: 0;-->
<!--	z-index: 9999;-->
<!--}-->
<!--@media screen and (max-width:991px)-->
<!--{-->
<!--	.mobile_menu-->
<!--	{-->
<!--		display: block;-->
<!--	}-->
<!--	.page-header.navbar .page-top-->
<!--	{-->
<!--		display: none;-->
<!--	}-->

<!--	.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top-->
<!--	{-->
<!--		z-index: 5;-->
<!--		position: fixed;-->
<!--	}-->
<!--    .page-content-wrapper .page-content -->
<!--    {-->
<!--        margin-top: 60px !important;-->
<!--    }-->
<!--    .page-header.navbar .page-logo img {-->
<!--    margin-left: -13px!important;-->
<!--}-->
<!--}-->
<!--</style>-->



<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="
            
                    index.php

                            ">
                <span class="logo-default">
                    
                        <span>CONTROL PANEL</span>

                                      
                </span>

            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                
                
                
                <ul class="nav navbar-nav pull-right">
                    <li><div id="google_translate_element"></div></li>
                    <li class="separator hide"> </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-show-on-mobile"> Admin  </span>
                            <i class="fa fa-angle-down"></i>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                             </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li><a href="../admin/page_settings.php"><i class="icon-user"></i> My Profile </a></li>
                            <li><a href="page_settings"><i class="icon-settings"></i> Setting </a></li>
                            <li class="divider"> </li>
                            <li><a href="../logout.php"><i class="icon-key"></i> Log Out </a></li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>

<script type="text/javascript">
function googleTranslateElementInit() {
	new google.translate.TranslateElement({
		layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
		includedLanguages: "en,hi,bn,ta,te,gu,or,mr"
	}, "google_translate_element");
}

</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<style>
    
    #google_translate_element
    {
        padding:16px 0;
    }
    .goog-te-gadget-simple
    {
        padding: 3px 8px;
    }
    .goog-te-banner
    {
        display:none !important;
    }
    .goog-te-banner-frame
    {
        display:none !important;
    }
    .goog-te-gadget img
    {
        display:none;
    }
body
{
    position: relative;min-height: 100%;top: 0px !important;
}
</style>
<div class="page-container">
    
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            
                

          <li class="nav-item  ">
            <a href="/admin/dashboard" class="nav-link ">
                <i class="fa fa-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        
        
        <li class="nav-item  ">
            <a href="/admin/games" class="nav-link ">
                <i class="fa fa-line-chart"></i>
                <span class="title">Market</span>
            </a>
        </li>
        
        
        <li class="nav-item  ">
            <a href="/admin/starline_name" class="nav-link ">
                <i class="fa fa-star" aria-hidden="true"></i>
                <span class="title">Starline</span>
            </a>
        </li>
        
        <li class="nav-item  ">
            <a href="/admin/disawar_name" class="nav-link ">
                <i class="fa fa-cubes"></i>
                <span class="title">Disawar</span>
            </a>
        </li>
        
        <li class="nav-item  ">
            <a href="/admin/week_pati" class="nav-link ">
                <i class="fa fa-lemon-o" aria-hidden="true"></i>
                <span class="title">Weekly Patti</span>
            </a>
        </li>
        
        
        
        
        <li class="nav-item  ">
            <a href="/admin/guess_post" class="nav-link ">
                <i class="fa fa-question-circle"></i>
                <span class="title">Guessing Post</span>
            </a>
        </li>
        
        
        <li class="nav-item  ">
            <a href="/admin/notice" class="nav-link ">
                <i class="fa fa-bell" aria-hidden="true"></i>
                <span class="title">Notice</span>
            </a>
        </li>
        
        <li class="nav-item  ">
            <a href="/admin/lucky_number" class="nav-link ">
                <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
                <span class="title">lucky number</span>
            </a>
        </li>
        
        <li class="nav-item  ">
            <a href="/admin/free_game_zone" class="nav-link ">
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <span class="title">Game Zone</span>
            </a>
        </li>
        
        <li class="nav-item  ">
            <a href="/admin/users" class="nav-link ">
                <i class="icon-users"></i>
                <span class="title">Users </span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="/admin/admin_users" class="nav-link ">
                <i class="fa fa-users"></i>
                <span class="title">Admin User </span>
            </a>
        </li>
        
        
        
        <li class="nav-item  ">
            <a href="/admin/dpboss_chart" class="nav-link ">
                <i class="fa fa-line-chart"></i>
                <span class="title">Magic Chart</span>
            </a>
        </li>
        
        
        <li class="nav-item ">
            <a href="/admin/oldchart" class="nav-link ">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <span class="title">OLD Chart</span>
            </a>
        </li>
        
        
        <li class="nav-item  ">
            <a href="/admin/contact" class="nav-link ">
                <i class="icon-users"></i>
                <span class="title">Contact Requests </span>
            </a>
        </li>
        
        
        <li class="nav-item  ">
            <a href="/admin/page_settings" class="nav-link ">
                <i class="icon-settings"></i>
                <span class="title">Setting </span>
            </a>
        </li>

                    </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">

            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="fa fa-file-text-o font-green"></i>
                        <span class="caption-subject bold uppercase">Guessing Post</span>
                    </div>
                    
                </div>
                <div class="portlet-body">
                        <div class="table-responsive">	    
   <table class="table table-bordered" id="mytable">
  <thead>
    <tr>
      <th scope="col">Sl.</th>
      <th scope="col">Game Name</th>
      <th scope="col">Post By</th>
      <th scope="col">Msg</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
         <tr>
        <th scope="row">1</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal54">
  Open Content
</button>
</td>
<th scope="row"> 19th  December 2023 06:43 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(54);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">2</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal53">
  Open Content
</button>
</td>
<th scope="row"> 19th  December 2023 06:43 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(53);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">3</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal52">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:11 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(52);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">4</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal51">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:11 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(51);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">5</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal50">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:11 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(50);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">6</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal49">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:10 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(49);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">7</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal48">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:09 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(48);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">8</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal47">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:08 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(47);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">9</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal46">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:08 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(46);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">10</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal45">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:08 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(45);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">11</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal44">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:05 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(44);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">12</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal43">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:03 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(43);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">13</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal42">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:03 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(42);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">14</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal41">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:02 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(41);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">15</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal40">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 09:02 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(40);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">16</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal39">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 08:55 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(39);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">17</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal38">
  Open Content
</button>
</td>
<th scope="row"> 18th  December 2023 08:54 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(38);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">18</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal37">
  Open Content
</button>
</td>
<th scope="row"> 15th  December 2023 01:36 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(37);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">19</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal36">
  Open Content
</button>
</td>
<th scope="row"> 15th  December 2023 01:35 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(36);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">20</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal35">
  Open Content
</button>
</td>
<th scope="row"> 15th  December 2023 01:35 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(35);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">21</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal34">
  Open Content
</button>
</td>
<th scope="row"> 14th  December 2023 02:01 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(34);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">22</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal33">
  Open Content
</button>
</td>
<th scope="row"> 14th  December 2023 02:01 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(33);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">23</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal32">
  Open Content
</button>
</td>
<th scope="row"> 11th  December 2023 04:19 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(32);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">24</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal31">
  Open Content
</button>
</td>
<th scope="row"> 11th  December 2023 04:19 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(31);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">25</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal30">
  Open Content
</button>
</td>
<th scope="row"> 10th  December 2023 03:39 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(30);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">26</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal29">
  Open Content
</button>
</td>
<th scope="row"> 10th  December 2023 03:38 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(29);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">27</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal28">
  Open Content
</button>
</td>
<th scope="row"> 10th  December 2023 12:16 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(28);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">28</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal27">
  Open Content
</button>
</td>
<th scope="row"> 10th  December 2023 12:12 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(27);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">29</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal26">
  Open Content
</button>
</td>
<th scope="row"> 10th  December 2023 12:05 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(26);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">30</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal25">
  Open Content
</button>
</td>
<th scope="row"> 10th  December 2023 12:00 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(25);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">31</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal24">
  Open Content
</button>
</td>
<th scope="row"> 10th  December 2023 11:59 AM</th>
<td>
 	
  <a href="javascript:;" onclick="del(24);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">32</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal23">
  Open Content
</button>
</td>
<th scope="row"> 9th  December 2023 07:13 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(23);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">33</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal22">
  Open Content
</button>
</td>
<th scope="row"> 9th  December 2023 07:13 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(22);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">34</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal21">
  Open Content
</button>
</td>
<th scope="row"> 9th  December 2023 07:13 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(21);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">35</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal20">
  Open Content
</button>
</td>
<th scope="row"> 9th  December 2023 06:04 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(20);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">36</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal19">
  Open Content
</button>
</td>
<th scope="row"> 9th  December 2023 05:56 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(19);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">37</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal18">
  Open Content
</button>
</td>
<th scope="row"> 9th  December 2023 05:34 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(18);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">38</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal17">
  Open Content
</button>
</td>
<th scope="row"> 8th  December 2023 10:46 AM</th>
<td>
 	
  <a href="javascript:;" onclick="del(17);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">39</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal16">
  Open Content
</button>
</td>
<th scope="row"> 7th  December 2023 07:36 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(16);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">40</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal15">
  Open Content
</button>
</td>
<th scope="row"> 7th  December 2023 07:35 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(15);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">41</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal14">
  Open Content
</button>
</td>
<th scope="row"> 7th  December 2023 03:07 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(14);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">42</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal13">
  Open Content
</button>
</td>
<th scope="row"> 7th  December 2023 03:07 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(13);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">43</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal12">
  Open Content
</button>
</td>
<th scope="row"> 7th  December 2023 03:06 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(12);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">44</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal11">
  Open Content
</button>
</td>
<th scope="row"> 7th  December 2023 03:06 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(11);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">45</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal10">
  Open Content
</button>
</td>
<th scope="row"> 28th  July 2022 07:13 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(10);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
        <tr>
        <th scope="row">46</th>
      <th scope="row"></th>
      <td></td>
      <td>
         <button type="button" class="btn blue btn-outline btn-xs" data-toggle="modal" data-target="#msgmodal9">
  Open Content
</button>
</td>
<th scope="row"> 28th  July 2022 07:13 PM</th>
<td>
 	
  <a href="javascript:;" onclick="del(9);" class="btn btn-outline red btn-xs margin-top-10">	<i class="fa fa-trash-o"></i> Delete</a>          </td>
    </tr>
         
  </tbody>
</table>

</div>




              <!-- /.table-responsive -->
                    </div>
                    <!-- /.portlet -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#content-container -->
    </div>

<!--<!--Begin  Modal -->
<div id="deleteModal" class="modal modal-styled fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green" style="width: 100%;">
                        <i class="icon-user-unfollow font-green"></i>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <span class="caption-subject bold uppercase">Delete Confirmation</span>
                    </div>
                </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Are you sure ! You want to delete this Game?</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">Close</button>
                        <button type="submit" id="delete" class="btn red btn-outline">Delete</button>
                    </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--Add Model start-->
<div id="addModal" class="modal fade" tabindex="-1" data-width="400">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<!--Add model end-->

<!--Edit Model start-->

<div id="editModal" class="modal fade" tabindex="-1" data-width="400">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

<!--Add model end-->
<!--Msg modal-->
<div class="modal fade" id="msgmodal54" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hii      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal53" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hii      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal52" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By: Naresh at  18th  December 2023 09:11 PM<br />
    [quote]Originally Posted By: Naresh at  18th  December 2023 09:11 PM<br />
    [quote]Originally Posted By: Naresh at  18th  December 2023 09:10 PM<br />
    Hii all[/quote] ok lets see[/quote]pass[/quote]<br />
<br />
What      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal51" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By: Naresh at  18th  December 2023 09:11 PM<br />
    [quote]Originally Posted By: Naresh at  18th  December 2023 09:10 PM<br />
    Hii all[/quote] ok lets see[/quote]pass      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal50" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By: Naresh at  18th  December 2023 09:10 PM<br />
    Hii all[/quote] ok lets see      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal49" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hii all      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal48" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By: Naresh at  18th  December 2023 09:08 PM<br />
    [quote]Originally Posted By: Naresh at  18th  December 2023 08:54 PM<br />
 hii[/quote][/quote]hii      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal47" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By: Naresh at  18th  December 2023 08:54 PM<br />
 hii[/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal46" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By: Naresh at  18th  December 2023 09:08 PM ,[quote]Originally Posted By: Naresh at  18th  December 2023 08:54 PM ,hii[/quote][/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal45" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By: Naresh at  18th  December 2023 08:54 PM ,hii[/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal44" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By: Naresh at  18th  December 2023 08:54 PM &lt;br&gt;hii[/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal43" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By Naresh at  18th  December 2023 09:02 PM: <br />
[quote]Originally Posted By Naresh at  18th  December 2023 09:02 PM: <br />
[quote]Originally Posted By Naresh at  18th  December 2023 08:54 PM: <br />
hii[/quote]<br />
[quote]ok[/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal42" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By Naresh at  18th  December 2023 09:02 PM: <br />
[quote]Originally Posted By Naresh at  18th  December 2023 09:02 PM: <br />
[quote]Originally Posted By Naresh at  18th  December 2023 08:54 PM: hii[/quote]<br />
[quote]<br />
ok[/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal41" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By Naresh at  18th  December 2023 09:02 PM: [quote]Originally Posted By Naresh at  18th  December 2023 08:54 PM: hii[/quote][/quote]<br />
ok      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal40" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Originally Posted By Naresh at  18th  December 2023 08:54 PM: hii[/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal39" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]hii~Originally Posted By Naresh at  18th  December 2023 08:54 PM[/quote]<br />
ok      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal38" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        hii      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal37" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Hii all~Originally Posted By Naresh at  15th  December 2023 01:35 PM[/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal36" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Hii all~Originally Posted By Naresh at  15th  December 2023 01:35 PM[/quote] ok      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal35" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hii all      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal34" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]hii~Originally Posted By Naresh at  14th  December 2023 02:01 PM[/quote]<br />
 ok      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal33" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        hii      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal32" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        test<br />
[quote]tester~Originally Posted By <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="80f4e5f3f4b1c0e7ede1e9ecaee3efed">[email&#160;protected]</a> at  11th  December 2023 04:19 PM[/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal31" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        tester      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal30" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]Hii all~Originally Posted By Naresh at  10th  December 2023 03:38 PM[/quote]<br />
Well all is ok      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal29" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hii all      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal28" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Jodi pass<br />
<br />
[quote]MAMA BHANJA<br />
<br />
Rajdhani Day<br />
<br />
<br />
50....55....56<br />
<br />
00....05....02~Originally Posted By <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="cebaabbdbaff8ea9a3afa7a2e0ada1a3">[email&#160;protected]</a> at  10th  December 2023 11:59 AM[/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal27" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote]MAMA BHANJA<br />
<br />
Rajdhani Day<br />
<br />
<br />
50....55....56<br />
<br />
00....05....02~Originally Posted By <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="5e2a3b2d2a6f1e39333f3732703d3133">[email&#160;protected]</a> at  10th  December 2023 11:59 AM[/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal26" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote][red]MAMA BHANJA<br />
<br />
Rajdhani Day<br />
<br />
<br />
50....55....56<br />
<br />
00....05....02&lt;br&gt;Originally Posted By <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="196d7c6a6d28597e74787075377a7674">[email&#160;protected]</a> at  10th  December 2023 11:59 AM[/red][/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal25" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Aya line me<br />
<br />
 [quote][red]Originally Posted By <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="f682938582c7b6919b979f9ad895999b9782">[email&#160;protected]</a>  10th  December 2023 11:59 AM[/red][/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal24" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        MAMA BHANJA<br />
<br />
Rajdhani Day<br />
<br />
<br />
50....55....56<br />
<br />
00....05....02      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal23" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote][red]Originally Posted By Naresh at  9th  December 2023 07:13 PM[/red][/quote]<br />
hii      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal22" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote][red]Originally Posted By Naresh at  9th  December 2023 07:13 PM[/red][/quote]<br />
hii      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal21" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        hii      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal20" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Already made the comment<br />
<br />
[quote][red]Originally Posted By <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d7a3b2a4a3e697b0bab6bebbf9b4b8bab6a3">[email&#160;protected]</a>  9th  December 2023 05:34 PM[/red][/quote]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal19" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        [quote][red]Originally Posted By <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="8afeeff9febbcaede7ebe3e6a4e9e5e7ebfe">[email&#160;protected]</a>  9th  December 2023 05:34 PM[/red]      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal18" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        tsssterer      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal17" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hii      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal16" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        All right      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal15" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hii all      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal14" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ewfswreasfsdfewf33333      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal13" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        wefrsdfgsert4r      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal12" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        aewfasdfasrdfaes      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal11" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        tewrfsdfsedf      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal10" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        jkljkl      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="msgmodal9" tabindex="-1" role="dialog" aria-labelledby="msgmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="msgmodal">Content Msg</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        hi      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--End modal -->

<div class="page-footer">
    <div class="page-footer-inner"> All copyright reserved
      
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>

<!-- BEGIN CORE PLUGINS -->
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="../assets/global/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->

<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="../assets/layouts/js/layout.min.js" type="text/javascript"></script>
<script src="../assets/layouts/js/demo.min.js" type="text/javascript"></script>
<script src="../assets/layouts/js/quick-sidebar.min.js" type="text/javascript"></script>
<script src="../assets/layouts/js/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS --><script src="../assets/plugins/flot/mobile_menu.js"></script>
<script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<!--<script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>-->
<script src="../assets/plugins/froiden-helper/helper.js" type="text/javascript"></script>
<script>
    // Show Add modal
    function addModal() {
        $.ajaxModal('#addModal','add_content.php');
    }

    // Create user
    function createUser() {

        // Send ajax Request to ajax/add_user.php  to create a user
        $.easyAjax({
            url: "ajax/add_content.php",
            type: "POST",
            container: "#userCreate",
            file:true,
            success: function(response) {
                if (response.status == "success") {
                    $('#addModal').modal('hide');
                     $("#mytable").load(window.location + " #mytable");
                     

                }
            }
        });
    }
    // Show Edit modal
    function editModal(id) {
        $.ajaxModal('#editModal','edit_content.php?id='+id);
    }
    // Update user
    function updateUser() {
        $.easyAjax({
            type: "POST",
            url: "ajax/edit_content.php",
            container: "#userUpdate",
            file:true,
            success: function(response) {
                if (response.status == "success") {
                    $('#editModal').modal('hide');
                    $("#mytable").load(window.location + " #mytable");
                }
            }
        });
    }
    // Delete user
    function del(id, name) {

        $('#deleteModal').find(".modal-body").html('Are you sure ! You want to delete ?');
        $('#deleteModal').appendTo("body").modal('show');
        $("#delete").click(function () {

            $.easyAjax({
                type: "POST",
                url: "ajax/delete_guspost.php?id="+id,
                container: "#deleteModal",
                success: function (response) {
                    if (response.status == "success") {
                        $('#deleteModal').modal('hide');
                         $("#mytable").load(window.location + " #mytable");
                    }
                }
            });
        })

    }
</script>
</body>
</html>