
<!DOCTYPE html>
<html class="no-js">
<head>
    <title>notice - Admin</title>
    <meta name="Description" content="DPBOSS - SATTA MATKA | KALYAN | KALYAN MATKA NUMBER | MATKA RESULT | WWW.MATKA.COM | SATTAMATKA.COM | KALYAN MAIN MATKA TIPS | TODAY MATKA LUCKY NUMBER | SATTA NUMBER | SATTAMATKA CHART | KALYAN FAST RESULT | ONLINE MATKA SATTA RESULTS | DPBOSS | INDIAN M">
    <meta name="Keywords" content="dpboss, Satta matka, kalyan, matka result, kalyan matka, kalyan, Satta Matta Matka 143, jaipur darbar, gali jaipur, matka.com, sattamatka.com, matka tips, today satta number, matka tips, matka chart, indian matka, satta chart, madhur matka, dpboss, aaj ka satta">
    <link rel="icon" href="../../images/8fav.png" type="image/x-icon">
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<meta name="author" content="" />

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
<link href="../assets/css/components-md.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="../assets/css/plugins-md.css" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="../assets/layouts/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/layouts/css/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="../assets/css/custom.css" rel="stylesheet" type="text/css" id="style_color" />
<!-- END THEME LAYOUT STYLES --></head>
<!-- END PAGE HEAD-->
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md">

<!--MOBILE MENU-->

<!--<div class="mobile_menu">-->
<!--<button class="toggle-slide-right"><i class="fa fa-bars"></i></button>-->
<!--<div class="menu slide-menu-right">-->
<!--<div>-->
<!--	<div class="profile_menu">-->
<!--	<button class="close-menu"><i class="fa fa-times"></i></button>-->
<!--		<div class="profile_image">-->
<!--	    <img src="../images/avatar/a3.jpg" alt=""/> -->
<!--		</div>-->
<!--		<h2>SURAJIT KUNDU</h2>-->
<!--		<p>YOUTUBE</p>-->
<!--	</div>-->
<!--</div>-->

<!--<div>-->
<!--	<div class="menu_main">-->
<!--		<div class="menu_box"><a href="guess_display.php"><i class="fa fa-question-circle"></i><h2>Guessing No</h2></a></div>-->
<!--		<div class="menu_box"><a href="content.php"><i class="fa fa-file-text-o"></i><h2>Content</h2></a></div>-->
<!--		<div class="menu_box"><a href="admin_users.php"><i class="fa fa-users"></i><h2>Admin User</h2></a></div>-->
<!--		<div class="menu_box"><a href="show_role.php"><i class="fa fa-eye"></i><h2>Admin Role</h2></a></div>-->
<!--		<div class="menu_box"><a href="adSense_manage.php"><i class="fa fa-adn"></i><h2>AdSense</h2></a></div>-->
<!--		<div class="menu_box"><a href="seo_manage.php"><i class="fa fa-search"></i><h2>SEO</h2></a></div>-->
<!--		<div class="menu_box"><a href="page_settings.php"><i class="icon-settings"></i><h2>Settings</h2></a></div>-->
<!--	</div>	-->
<!--</div>-->
<!--</div>-->
<!--<div class="fixed_mobile_menu">-->
<!--	<div class="bottom_menu"><a href="dashboard.php"><i class="fa fa-home"></i><h3>Home</h3></a></div>-->
<!--	<div class="bottom_menu"><a href="games.php"><i class="fa fa-gamepad"></i><h3>Market</h3></a></div>-->
<!--	<div class="bottom_menu"><a href="back_resul.php"><i class="fa fa-trophy"></i><h3>Result</h3></a></div>-->
<!--	<div class="bottom_menu"><a href="../logout.php"><i class="fa fa-lock"></i><h3>Logout</h3></a></div>-->
<!--</div>-->
<!--</div>-->





<!--<style>-->
<!--.fixed_mobile_menu-->
<!--	{-->
<!--		width: 100%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--		background: #363636;-->
<!--		padding: 5px;-->
<!--		position: fixed;-->
<!--		bottom: 0;-->
<!--		left: 0;-->
<!--		z-index: 9;-->
<!--	}-->
<!--.bottom_menu-->
<!--	{-->
<!--		width: 24%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--	}-->
<!--.bottom_menu a i-->
<!--	{-->
<!--		width: 100%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--		font-size: 22px;-->
<!--		color: #fff;-->
<!--		margin-top: 10px;-->
<!--	}-->
<!--.bottom_menu a h3-->
<!--	{-->
<!--		font-size: 14px;-->
<!--		color: #fff;-->
<!--		margin: 10px 0 0 0; -->
<!--		text-transform: uppercase;-->
<!--	}-->
<!--.profile_menu-->
<!--	{-->
<!--		width: 100%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--		padding: 30px 0 0 0;-->
<!--		margin-bottom: 40px;-->
<!--	}-->
<!--.profile_menu h2-->
<!--	{-->
<!--		font-size: 18px;-->
<!--		font-weight: bold;-->
<!--		color: #000;-->
<!--		margin: 10px 0 0 0;-->
<!--	}-->
<!--.profile_menu p-->
<!--	{-->
<!--		font-size: 14px;-->
<!--		color: #23BCC2;-->
<!--		margin: 0;-->
<!--	}-->
<!--.profile_image-->
<!--	{-->
<!--		width: 70px;-->
<!--		height: 70px;-->
<!--		border-radius: 500px;-->
<!--		background: #fff;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--		overflow: hidden;-->
<!--	}-->
<!--.profile_image img-->
<!--	{-->
<!--		width: 100%;-->
<!--		max-width: 100%;-->
<!--	}-->
<!--.menu_main-->
<!--	{-->
<!--		width: 100%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--	}-->
<!--.menu_box-->
<!--	{-->
<!--		width: 46%;-->
<!--		display: inline-block;-->
<!--		text-align: center;-->
<!--		border: solid 1px #2F353B;-->
<!--		padding-bottom: 10px;-->
<!--		margin-bottom: 26px;-->
<!--	}-->
<!--.menu_box i-->
<!--	{-->
<!--		width: 60px;-->
<!--		height: 60px;-->
<!--		background: #23BCC2;-->
<!--		font-size: 24px;-->
<!--		color: #fff;-->
<!--		border-radius: 500px;-->
<!--		padding: 18px 5px;-->
<!--		margin-top: -30px;-->
<!--		border: solid 5px #fff;-->
<!--	}-->
<!--.menu_box h2-->
<!--	{-->
<!--		font-size: 16px;-->
<!--		font-weight: bold;-->
<!--		margin: 10px 0 0 0;-->
<!--		color: #2F353B;-->
<!--		text-transform: uppercase;-->
<!--	}-->
<!--.mobile_menu-->
<!--	{-->
<!--		display: none;-->
<!--	}-->
<!--.mask {-->
<!--    display: none;-->
<!--    position: fixed;-->
<!--    top: 0;-->
<!--    left: 0;-->
<!--    z-index: 100;-->
<!--    width: 100%;-->
<!--    height: 100%;-->
<!--    background: rgba(0, 0, 0, 0.8);-->
<!--}-->

<!--.menu {-->
<!--    position: fixed;-->
<!--    z-index: 1000;-->
<!--    background-color: #fff;-->
<!--    overflow: hidden;-->
<!--    -webkit-transition: all 0.3s;-->
<!--    -moz-transition: all 0.3s;-->
<!--    -ms-transition: all 0.3s;-->
<!--    -o-transition: all 0.3s;-->
<!--    transition: all 0.3s;-->
<!--}-->

<!--.slide-menu-right {-->
<!--    left: -300px;-->
<!--    top: 0;-->
<!--    width: 300px;-->
<!--    height: 100%;-->
<!--}-->

<!--.toggle-slide-right {-->
<!--    color: #fff;-->
<!--    background: none;-->
<!--    border: none;-->
<!--    border-radius: 5px;-->
<!--    display: block;-->
<!--    position: fixed;-->
<!--    top: 10px;-->
<!--    right: 10px;-->
<!--    z-index: 9999;-->
<!--	font-size: 28px;-->
<!--}-->

<!--button.close-menu{-->
<!--    color: #000;-->
<!--    background: none;-->
<!--    border: none;-->
<!--    display: block;-->
<!--    font-size: 30px;-->
<!--    float: right;-->
<!--    padding: 10px 17px;-->
<!--	position: absolute;-->
<!--    right: 0;-->
<!--	top: 0;-->
<!--}-->

<!--body.smr-open .slide-menu-right {-->
<!--    left: 0;-->
<!--	z-index: 9999;-->
<!--}-->
<!--@media screen and (max-width:991px)-->
<!--{-->
<!--	.mobile_menu-->
<!--	{-->
<!--		display: block;-->
<!--	}-->
<!--	.page-header.navbar .page-top-->
<!--	{-->
<!--		display: none;-->
<!--	}-->

<!--	.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top-->
<!--	{-->
<!--		z-index: 5;-->
<!--		position: fixed;-->
<!--	}-->
<!--    .page-content-wrapper .page-content -->
<!--    {-->
<!--        margin-top: 60px !important;-->
<!--    }-->
<!--    .page-header.navbar .page-logo img {-->
<!--    margin-left: -13px!important;-->
<!--}-->
<!--}-->
<!--</style>-->



<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="
            
                    index.php

                            ">
                <span class="logo-default">
                    
                        <span>CONTROL PANEL</span>

                                      
                </span>

            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->

        <!-- BEGIN PAGE TOP -->
        <div class="page-top">
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                
                
                
                <ul class="nav navbar-nav pull-right">
                    <li><div id="google_translate_element"></div></li>
                    <li class="separator hide"> </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-show-on-mobile"> Admin  </span>
                            <i class="fa fa-angle-down"></i>
                            <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                             </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li><a href="../admin/page_settings.php"><i class="icon-user"></i> My Profile </a></li>
                            <li><a href="page_settings"><i class="icon-settings"></i> Setting </a></li>
                            <li class="divider"> </li>
                            <li><a href="../logout.php"><i class="icon-key"></i> Log Out </a></li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<!-- BEGIN HEADER & CONTENT DIVIDER -->
<div class="clearfix"> </div>

<script type="text/javascript">
function googleTranslateElementInit() {
	new google.translate.TranslateElement({
		layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
		includedLanguages: "en,hi,bn,ta,te,gu,or,mr"
	}, "google_translate_element");
}

</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<style>
    
    #google_translate_element
    {
        padding:16px 0;
    }
    .goog-te-gadget-simple
    {
        padding: 3px 8px;
    }
    .goog-te-banner
    {
        display:none !important;
    }
    .goog-te-banner-frame
    {
        display:none !important;
    }
    .goog-te-gadget img
    {
        display:none;
    }
body
{
    position: relative;min-height: 100%;top: 0px !important;
}
</style>
<div class="page-container">
    
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            
                

            <li class="nav-item  ">
                <a href="/admin/dashboard" class="nav-link ">
                    <i class="fa fa-home"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            
            
            <li class="nav-item  ">
                <a href="/admin/games" class="nav-link ">
                    <i class="fa fa-line-chart"></i>
                    <span class="title">Market</span>
                </a>
            </li>
            
            
            <li class="nav-item  ">
                <a href="/admin/starline_name" class="nav-link ">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <span class="title">Starline</span>
                </a>
            </li>
            
            <li class="nav-item  ">
                <a href="/admin/disawar_name" class="nav-link ">
                    <i class="fa fa-cubes"></i>
                    <span class="title">Disawar</span>
                </a>
            </li>
            
            <li class="nav-item  ">
                <a href="/admin/week_pati" class="nav-link ">
                    <i class="fa fa-lemon-o" aria-hidden="true"></i>
                    <span class="title">Weekly Patti</span>
                </a>
            </li>
            
            
            
            
            <li class="nav-item  ">
                <a href="/admin/guess_post" class="nav-link ">
                    <i class="fa fa-question-circle"></i>
                    <span class="title">Guessing Post</span>
                </a>
            </li>
            
            
            <li class="nav-item  ">
                <a href="/admin/notice" class="nav-link ">
                    <i class="fa fa-bell" aria-hidden="true"></i>
                    <span class="title">Notice</span>
                </a>
            </li>
            
            <li class="nav-item  ">
                <a href="/admin/lucky_number" class="nav-link ">
                    <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
                    <span class="title">lucky number</span>
                </a>
            </li>
            
            <li class="nav-item  ">
                <a href="/admin/free_game_zone" class="nav-link ">
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                    <span class="title">Game Zone</span>
                </a>
            </li>
            
            <li class="nav-item  ">
                <a href="/admin/users" class="nav-link ">
                    <i class="icon-users"></i>
                    <span class="title">Users </span>
                </a>
            </li>
            <li class="nav-item  ">
                <a href="/admin/admin_users" class="nav-link ">
                    <i class="fa fa-users"></i>
                    <span class="title">Admin User </span>
                </a>
            </li>
            
            
            
            <li class="nav-item  ">
                <a href="/admin/dpboss_chart" class="nav-link ">
                    <i class="fa fa-line-chart"></i>
                    <span class="title">Magic Chart</span>
                </a>
            </li>
            
            
            <li class="nav-item ">
                <a href="/admin/oldchart" class="nav-link ">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    <span class="title">OLD Chart</span>
                </a>
            </li>
            
            
            <li class="nav-item  ">
                <a href="/admin/contact" class="nav-link ">
                    <i class="icon-users"></i>
                    <span class="title">Contact Requests </span>
                </a>
            </li>
            
            
            <li class="nav-item  ">
                <a href="/admin/page_settings" class="nav-link ">
                    <i class="icon-settings"></i>
                    <span class="title">Setting </span>
                </a>
            </li>


                    </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="page-head margin-bottom-5">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Notice
                        <!--<small>activities &amp; statistics</small>-->
                    </h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
            <!-- BEGIN PAGE BASE CONTENT -->
            <!-- BEGIN DASHBOARD STATS 1-->
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                       <div class="portlet light bordered">
                           <!--notice start-->
                             <form type="post">    
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Update notice1</label>
                                     <textarea class="form-control" name="textareaval1" value="!! Welcome to dpboss international !! Satta Matka Fast Result" id="exampleFormControlTextarea1" rows="3">!! Welcome to dpboss international !! Satta Matka Fast Result</textarea>                                   
                                </div>
                              <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Update notice 2</label>
                                     <textarea class="form-control" name="textareaval" value="India's No.1 Matka Site sattamatka shiva999  Heartly Welcome. Here You Will Get Perfect Guessing By Top Guesser And Fast Matka Result. Aaj Ka Satta Kalyan Fix Single Jodi Free Update Here You Find Top Matka Market Of India Kalyan Main Milan Rajdhani* *kalyan Matka Tips *fast Matka Result *kalyan Main Rajdhani Matka Chart *Matka Guessing By shiva999 By App Best Matka Site By sattamatka shiva999" id="exampleFormControlTextarea2" rows="3">India's No.1 Matka Site sattamatka shiva999  Heartly Welcome. Here You Will Get Perfect Guessing By Top Guesser And Fast Matka Result. Aaj Ka Satta Kalyan Fix Single Jodi Free Update Here You Find Top Matka Market Of India Kalyan Main Milan Rajdhani* *kalyan Matka Tips *fast Matka Result *kalyan Main Rajdhani Matka Chart *Matka Guessing By shiva999 By App Best Matka Site By sattamatka shiva999</textarea>                                   
                                </div>
                                
                                
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Update notice 3</label>
                                     <textarea class="form-control" name="textareaval2" value="<p>Yuvraj<br />
जोड़ी ट्रिक.<br />
 ᴅᴀᴛᴇ:-24.06.2024<br />
&nbsp;&nbsp;&nbsp; शुक्रवार<br />
जोड़ी लाइन छोटे रूप में बताया गया है<br />
फिक्स LINE के साथ<br />
 कुछ हफ्ते पहले लाइन<br />
शनिवार ---गुरुवार ---शुक्रवार<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 58-------43-----72<br />
 पिछले हफ्ते नीचे फ्रंट लाइन&nbsp; शनिवार --बुधवार ---शुक्रवार<br />
&nbsp;&nbsp; 46--------43--------22<br />
हमारे बड़े प्रोफेसर के लाइन के हिसाब से फिक्स<br />
ओपन टू क्लोz<br />
आज ---555555<br />
फिक्स पत्त<br />
258-359<br />
जोड़ी<br />
52-57-71-24<br />
 आना चाहिए</p>
" id="exampleFormControlTextarea3" rows="3"><p>Yuvraj<br />
जोड़ी ट्रिक.<br />
 ᴅᴀᴛᴇ:-24.06.2024<br />
&nbsp;&nbsp;&nbsp; शुक्रवार<br />
जोड़ी लाइन छोटे रूप में बताया गया है<br />
फिक्स LINE के साथ<br />
 कुछ हफ्ते पहले लाइन<br />
शनिवार ---गुरुवार ---शुक्रवार<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 58-------43-----72<br />
 पिछले हफ्ते नीचे फ्रंट लाइन&nbsp; शनिवार --बुधवार ---शुक्रवार<br />
&nbsp;&nbsp; 46--------43--------22<br />
हमारे बड़े प्रोफेसर के लाइन के हिसाब से फिक्स<br />
ओपन टू क्लोz<br />
आज ---555555<br />
फिक्स पत्त<br />
258-359<br />
जोड़ी<br />
52-57-71-24<br />
 आना चाहिए</p>
</textarea>                                   
                                </div>
                                
                                
                                
                             
                                 <button type="submit" name="submit" class="btn btn-primary">Update</button>
                            </form>
                <!--notice end-->
                            </div>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>
<!--End modal -->
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Notice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Here the notice
      </div>
    </div>
  </div>
</div>
<!--End page-container-->
<div class="page-footer">
    <div class="page-footer-inner"> All copyright reserved
      
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>

<!-- BEGIN CORE PLUGINS -->
<script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="../assets/global/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->

<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="../assets/layouts/js/layout.min.js" type="text/javascript"></script>
<script src="../assets/layouts/js/demo.min.js" type="text/javascript"></script>
<script src="../assets/layouts/js/quick-sidebar.min.js" type="text/javascript"></script>
<script src="../assets/layouts/js/quick-nav.min.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->	


<script src="../assets/plugins/flot/mobile_menu.js"></script>
<!-- Start of plugins-->
<script src="../assets/plugins/flot/jquery.flot.js"></script>
<script src="../assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="../assets/plugins/flot/jquery.flot.resize.js"></script>
<script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<!--<script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>-->
<script src="../assets/plugins/froiden-helper/helper.js" type="text/javascript"></script>
<!-- End of plugins-->

<script>
    $(function () {
        var d1, d2, data, chartOptions;
                d1 = [
            [1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17],[18],[19],[20],[21],[22],[23],[24],[25],[26],[27],[28],[29],[30],[31]        ];
        data = [{
            label: "Total Registration",
            data: d1
        }];
        chartOptions = {
            xaxis: {
                ticks: 31,
                tickDecimals: 0
            },
            yaxis: {
                ticks: 11,
                tickDecimals: 0
            },
            series: {
                lines: {
                    show: true,
                    fill: false,
                    lineWidth: 3
                },
                points: {
                    show: true,
                    radius: 4.5,
                    fill: true,
                    fillColor: "#ffffff",
                    lineWidth: 2.75
                }
            },
            grid: {
                hoverable: true,
                clickable: false,
                borderWidth: 0
            },
            legend: {
                show: true
            },
            tooltip: true,
            tooltipOpts: {
                content: '%s: %y'
            },
            colors: App.chartColors
        };
        var holder = $('#line-chart');
        if (holder.length) {
            $.plot(holder, data, chartOptions);
        }
    });
</script>
<script src="
https://cdn.jsdelivr.net/npm/easy-ajax@1.1.0/index.min.js
"></script>
<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>

<script>
//CKEDITOR.replace( 'textareaval' );
  CKEDITOR.replace( 'textareaval2' );
                       
                </script>
<script>
    $(document).ready(function(){
        //$('#notice_data').on('submit',function(){
        $('#submit_notice').click(function(){
            //var notice = $('#exampleFormControlTextarea1').html();
           var notice = $('textarea#exampleFormControlTextarea1').val();
           var notice2 = $('textarea#exampleFormControlTextarea2').val();
          //  var notice3 = $('#exampleFormControlTextarea3').val();
            var editorText = CKEDITOR.instances.textareaval2.getData();
            
        console.log(editorText);
            //alert(notice);
            $.easyAjax({
                url:'ajax/notice_content.php',
                type:'post',
                data:{notice: notice,notice2: notice2,notice3: editorText},
                 container: "#passwordEdit",
                success: function(data){
                    console.log(data);
                //     if(data == '1'){
                //   alert('successfull');
                //     }else{
                //         alert('Error !');
                //     }
                }
            });
        })
    })
</script>

</body>
</html>